* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202125;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.display-large-text {
  font-size: 2rem;
}

.header {
  background-color: #01B075;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.header__logo {
  margin-right: 1rem;
}

.header__navigation {
  display: flex;
  list-style-type: none;
}

.header__navigation li:not(:last-child) {
  margin-right: 1rem;
}

.header__navigation li a,
.header__navigation li a.active {
  color: white;
  text-decoration: none;
}

.header__navigation li a:hover,
.header__navigation li a.active:hover {
  border-bottom: 2px solid white;
}

.question-row {
  background-color: #2e2f33;
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;
  color: white;
  max-height: 200px;
  overflow: hidden;
  position: relative;
}

.question-row__stats {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100px;
  background: #01B075;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-row__content {
  color: white;
  text-decoration: none;
}

.card {
  background-color: #2e2f33;
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;
  color: white;
}

.answer-row {
  padding: 1rem;
}

.answer-row--corect {
  background: #01B075;
}

.search-container {
  background: #201A31;
  width: 100%;
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  color: #01B075;
  border-top: 2px solid #01B075;
  border-bottom: 2px solid #01B075;
}

.search-container__form {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container__input {
  position: relative;
  border-radius: 20px;
  background: white;
  max-width: 40rem;
  width: 100%;
}

.search-container__input input {
  border: 0;
  width: 100%;
  background: none;
  padding: 0.8rem;
  font-size: 1rem;
}

.search-container__search-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: #01B075;
}

.search-container__search-icon svg {
  width: 2rem;
  height: 1rem;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #01B075;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #201A31;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #01B075;
  border-color: #01B075;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.pagination-section {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

